body {
    width: 200px;
    padding-left: 10%;
    padding-right: 10%;
}

#loginButton {
    margin-bottom: 10px;
}

#player {
    display: flex;
    flex-direction: column;
}

#playerButtons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#settings {
    display: none;
    flex-direction: column;
}

#top {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
